:root.theme-changing * {
  transition: none !important;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  /* ---------- Dark Mode ---------- */

  --remaining-fish-item-background-color-dark: #1a5d8a;
  --remaining-fish-item-hover-background-color-dark: hsl(204, 68%, 42%);
  --remaining-fish-item-greyed-out-background-color-dark: #5f5f5f;

  --toggle-button-background-color-dark: var(
    --remaining-fish-item-background-color-dark
  );
  --toggle-button-hover-background-color-dark: var(
    --remaining-fish-item-hover-background-color-dark
  );

  --text-color-dark: #ffffff;

  --theme-toggle-button-background-color-dark: rgb(55, 56, 59);
  --theme-toggle-button-background-color-active-dark: hsl(225, 4%, 40%);
  --theme-toggle-button-color-dark: var(--text-color);

  --body-background-color-dark: #242424;
  --header-footer-background-color-dark: rgb(28, 30, 32);
  --background-color-dark: rgb(26, 26, 26);
  --border-color-dark: hsl(0, 0%, 27%);
  --greyed-out-text-color-dark: white;

  --nav-button-background-color-dark: #454545;
  --nav-button-hover-background-color-dark: hsl(0, 0%, 33%);

  --result-fish-background-dark: #2e2e2e;
  --result-fish-hover-background-dark: #3d3d3d;

  /* ---------- Light Mode ---------- */
  --remaining-fish-item-background-color-light: hsl(203, 76%, 85%);
  --remaining-fish-item-hover-background-color-light: hsl(203, 76%, 90%);
  --remaining-fish-item-greyed-out-background-color-light: hsl(208, 21%, 86%);

  --toggle-button-background-color-light: var(
    --remaining-fish-item-background-color-light
  );
  --toggle-button-hover-background-color-light: var(
    --remaining-fish-item-hover-background-color-light
  );

  --text-color-light: #000000;

  --theme-toggle-button-background-color-light: hsl(0, 0%, 55%);
  --theme-toggle-button-background-color-active-light: hsl(225, 4%, 45%);
  --theme-toggle-button-color-light: var(--text-color);

  --body-background-color-light: hsl(0, 0%, 92%);
  --header-footer-background-color-light: hsl(0, 0%, 80%);
  --background-color-light: #f5f5f5;
  --border-color-light: hsl(0, 0%, 73%);
  --greyed-out-text-color-light: #2b2b2b;

  --nav-button-background-color-light: hsl(0, 0%, 85%);
  --nav-button-hover-background-color-light: hsl(0, 0%, 90%);

  --result-fish-background-light: hsl(0, 0%, 85%);
  --result-fish-hover-background-light: hsl(0, 0%, 90%);

  /* ---------- Tooltip ---------- */
  --google-tooltip-background-dark: #3c4043;
  --google-tooltip-background-light: hsl(0, 0%, 88%);
  --google-tooltip-text-color-dark: var(--text-color-dark);
  --google-tooltip-text-color-light: var(--text-color-light);
  --tooltip-background-color-dark: rgba(0, 0, 0, 1);
  --tooltip-background-color-light: rgba(255, 255, 255, 1);
}

:root[color-scheme="dark"] {
  color-scheme: dark;
  --light-theme-toggle: invert(97%) sepia(5%) saturate(57%) hue-rotate(71deg)
    brightness(93%) contrast(101%);

  --remaining-fish-item-background-color: var(
    --remaining-fish-item-background-color-dark
  );
  --remaining-fish-item-hover-background-color: var(
    --remaining-fish-item-hover-background-color-dark
  );
  --remaining-fish-item-greyed-out-background-color: var(
    --remaining-fish-item-greyed-out-background-color-dark
  );

  --toggle-button-background-color: var(--toggle-button-background-color-dark);
  --toggle-button-hover-background-color: var(
    --toggle-button-hover-background-color-dark
  );

  --text-color: var(--text-color-dark);
  --theme-toggle-button-background-color: var(
    --theme-toggle-button-background-color-dark
  );
  --theme-toggle-button-background-color-active: var(
    --theme-toggle-button-background-color-active-dark
  );
  --theme-toggle-button-color: var(--text-color);

  --body-background-color: var(--body-background-color-dark);
  --header-footer-background-color: var(--header-footer-background-color-dark);
  --background-color: var(--background-color-dark);
  --border-color: var(--border-color-dark);
  --greyed-out-text-color: var(--greyed-out-text-color-dark);

  --nav-button-background-color: var(--nav-button-background-color-dark);
  --nav-button-hover-background-color: var(
    --nav-button-hover-background-color-dark
  );

  --result-fish-background: var(--result-fish-background-dark);
  --result-fish-hover-background: var(--result-fish-hover-background-dark);

  --google-tooltip-background: var(--google-tooltip-background-light);
  --google-tooltip-text-color: var(--google-tooltip-text-color-light);
  --tooltip-background-color: var(--tooltip-background-color-dark);
  --tooltip-text-color: var(--text-color-dark);
}

:root[color-scheme="light"] {
  color-scheme: light;
  --light-theme-toggle: invert(0%) sepia(2%) saturate(0%) hue-rotate(137deg)
    brightness(101%) contrast(100%);

  --remaining-fish-item-background-color: var(
    --remaining-fish-item-background-color-light
  );
  --remaining-fish-item-hover-background-color: var(
    --remaining-fish-item-hover-background-color-light
  );
  --remaining-fish-item-greyed-out-background-color: var(
    --remaining-fish-item-greyed-out-background-color-light
  );

  --toggle-button-background-color: var(--toggle-button-background-color-light);
  --toggle-button-hover-background-color: var(
    --toggle-button-hover-background-color-light
  );

  --text-color: var(--text-color-light);

  --theme-toggle-button-background-color: var(
    --theme-toggle-button-background-color-light
  );
  --theme-toggle-button-background-color-active: var(
    --theme-toggle-button-background-color-active-light
  );
  --theme-toggle-button-color: var(--text-color);

  --body-background-color: var(--body-background-color-light);
  --header-footer-background-color: var(--header-footer-background-color-light);
  --background-color: var(--background-color-light);
  --border-color: var(--border-color-light);
  --greyed-out-text-color: var(--greyed-out-text-color-light);

  --nav-button-background-color: var(--nav-button-background-color-light);
  --nav-button-hover-background-color: var(
    --nav-button-hover-background-color-light
  );

  --result-fish-background: var(--result-fish-background-light);
  --result-fish-hover-background: var(--result-fish-hover-background-light);

  --google-tooltip-background: var(--google-tooltip-background-dark);
  --google-tooltip-text-color: var(--google-tooltip-text-color-dark);

  --tooltip-background-color: var(--tooltip-background-color-light);
  --tooltip-text-color: var(--text-color-light);
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--body-background-color);

  display: flex;
  flex-direction: column;

  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  bottom: 0;
}

button {
  font-family: "roboto mono";
  font-weight: 500;
}

.light-theme-toggle {
  width: 35px;
  height: auto;
  filter: var(--light-theme-toggle);
}

circle {
  color: #000000;
}

.light-theme-toggle:hover {
  background: fixed;
  background-color: var(--theme-toggle-button-background-color);
  border-radius: 100%;
  transition: background-color 150ms ease-in-out;
}

.tool-bar {
  padding: 1.2em 4em;
}

.container {
  margin: 0 35px;
  padding: 0 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.season-selector {
  display: flex;
  gap: inherit;
}

.fish-sub-info {
  font-size: 0.8rem;
  display: inline;
}

.fish-sub-info.show {
  font-size: 0.8rem;
  display: inline;
  justify-content: center;
}

.fish-sub-info.hide {
  font-size: 0.8rem;
  display: none;
  justify-content: center;
}

.view-info-toggles {
  padding: 1em;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
}

.button-container {
  border: 1px solid var(--border-color);
  padding-top: 2em;
}

/* Dark mode theme */
.button-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 8px;
  border-radius: 24px;

  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.4s ease;
  flex-wrap: wrap;
}

.button-container.expanded {
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
}

.button-container.collapsed {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.season-buttons {
  padding: 1em;
  display: flex;
  gap: 10px;
  justify-content: left;
  flex-wrap: wrap;
}

.season-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--nav-button-background-color);
  color: var(--text-color);
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.season-button:hover {
  background-color: var(--nav-button-hover-background-color);
  transform: translateY(-2px);
}

.fileInput {
  display: none;
}

.file-input-label {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--nav-button-background-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 13.3333px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.file-input-label:hover {
  background-color: var(--nav-button-hover-background-color);
  transform: translateY(-2px);
}

.view-info-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--toggle-button-background-color);
  color: var(--text-color);
  font-weight: 500;
  min-width: 141px;
  min-width: 96px;

  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  flex-wrap: wrap;
  max-height: fit-content;
}

.view-info-toggle:hover {
  background-color: var(--toggle-button-hover-background-color);
  transform: translateY(-2px);
}

.toggle-info-icon {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.toggle-info-icon.rotate {
  transform: rotate(180deg);
}

@media only screen and (max-width: 430px) {
  .fishing-route-display {
    padding: 30px 0;
  }

  .file-name-span {
    line-height: 2.5;
  }

  .fishing-route-display-container {
    padding: 0 2em;
  }

  .tool-bar {
    padding: 2em;
  }
}

@media only screen and (max-width: 390px) {
  .fishing-route-display {
    padding: 30px 0;
  }

  .file-name-span {
    line-height: 2.5;
  }

  .fishing-route-display-container {
    padding: 0 2em;
  }

  .tool-bar {
    padding: 2em;
  }
}
