.fish-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.toggle-button {
  background-color: var(--toggle-button-background-color);
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: var(--toggle-button-hover-background-color);
}

.fish-locations-container {
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-color);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 3fr));
}

.fish-location {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-color);
}

.location-title {
  background-color: var(--header-footer-background-color);
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}
.location-title-time-range {
    background-color: var(--background-color);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}
.fish-item.align-top {
  justify-content: flex-start;
}

.no-fish {
  text-align: center;
  padding: 20px;
  color: var(--text-color);
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 400;
}

.fish-item-button {
  background: none;
  border: none;

  /* from fish-item */
  background-color: var(--result-fish-background);
  margin: 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  color: var(--text-color);
  justify-content: center;
  min-width: fit-content;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.fish-item-button:hover {
  background-color: var(--result-fish-hover-background);
  transform: translateY(-2px);
}

.fish-item {
}

.fish-names {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(130px, 100%), 1fr));
  gap: 12px;
  padding: 15px 5px;
  padding: 10px;
}

@media only screen and (max-width: 430px) {
  .fish-names {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(125px, 100%), 1fr));
  }
}

@media only screen and (max-width: 390px) {
  .fish-names {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(125px, 100%), 1fr));
  }
}
