.remaining-fish-header {
  color: var(--text-color);
  width: fit-content;
  margin: 0 auto;
}

.remaining-fish-heading {
  border-bottom: 2px var(--border-color) solid;
  padding: 0 2rem;
  padding-bottom: 0.5rem;
}

.remaining-fish {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(110px, 100%), 1fr));
  gap: 8px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 24px;
  align-content: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-color);
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.remaining-fish-item {
  background-color: var(--remaining-fish-item-background-color);
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1),
    background-color 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.remaining-fish-item.uncaught:hover {
  background-color: var(--remaining-fish-item-hover-background-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.remaining-fish-item.caught {
  background-color: var(--remaining-fish-item-greyed-out-background-color);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); */
}

.remaining-fish-item-button {
  min-height: 7.8rem;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.remaining-fish-content {
  /* border: 1px red solid; */
  height: 100%;
  display: grid;
  padding-top: 0.8rem;
}

.remaining-fish-name {
  color: var(--text-color);
  margin: 0;
  margin-top: 6px;
  font-family: "Roboto Mono";
  cursor: default;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.remaining-fish-image {
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.remaining-fish-image.uncaught {
  opacity: 1;
}

.remaining-fish-image.caught {
  opacity: 0.5;
  filter: brightness(0.3);
}

.remaining-fish-wrapper {
  padding: 2em 4em;
  padding-top: 0;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 430px) {
  .remaining-fish-wrapper {
    padding: 2em;
  }

  .remaining-fish {
    grid-template-columns: repeat(auto-fill, minmax(min(85px, 100%), 1fr));
  }

  .remaining-fish-item {
    font-size: 0.9rem;
  }

  .remaining-fish-item.caught {
    font-size: 0.9rem;
  }

  .remaining-fish-item.caught:hover {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 390px) {
  .remaining-fish-wrapper {
    padding: 2em;
  }

  .remaining-fish-item {
    font-size: 0.75rem;
  }

  .remaining-fish-item.caught {
    font-size: 0.75rem;
  }

  .remaining-fish-item.caught:hover {
    font-size: 0.75rem;
  }

  .remaining-fish-item-button {
    min-height: 7.4rem;
  }
}
