.season-info {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  padding: 0 4em;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.season-info p {
  min-width: max-content;
  margin: 0;
  text-align: center;
  padding: 12px;
  flex: 1;
  max-width: fit-content;
  min-width: 16.6rem;
  padding-top: 2rem;
}

.starting-season {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--border-color);
}
.current-season {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--border-color);
}

.season-value {
  font-weight: 400;
}
